In [102]:
import pandas as pd
import json
import os

In [103]:
df = pd.read_excel(
    'ABC-Company-Sales.xlsx', 
    sheet_name='Sales',
    header=0)

df['SalesDate'] = df['SalesDate'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [104]:
df.head()

,ID,SalesDate,OrderID,CustomerID,SalesPersonID,ProductID,Quantity,Sales,StoreID
0,1,2015-01-01 00:00:00,10381,46,2,74,14,428.26,8
1,2,2015-01-01 00:00:00,10382,19,3,5,32,179.84,2
2,3,2015-01-01 00:00:00,10382,19,3,18,9,241.02,6
3,4,2015-01-01 00:00:00,10382,19,3,29,14,1811.32,2
4,5,2015-01-01 00:00:00,10382,19,3,33,60,1649.40,6

In [105]:
df = df[["ID", "OrderID", "StoreID", "ProductID", "Quantity", "Sales"]]
# df = df[["OrderID", "SalesDate", "CustomerID", "SalesPersonID"]]

In [106]:
df.columns = ["OrderDetailID", "Order", "Store", "Product", "Quantity", "Sales"]
# df.columns = ["OrdersID", "SalesDate", "Customer", "SalesPerson"]

In [107]:
df = df.drop_duplicates()

In [108]:
data = []
for i in range(len(df)):
    data.append({"model": "database.OrderDetails", "fields": df.iloc[i].to_dict()})

In [109]:
json_string = json.dumps(data)

In [110]:
with open("OrderDetail.json", "w") as outfile:
    outfile.write(json_string)